@model IEnumerable<Flight_System.Models.Employees>

@{
    ViewBag.Title = "Index";
}

<h2>Our Employees</h2>
@if (User.IsInRole(role:"Admin"))
{
    <p>
        <a href="~/Employees/Create" class="btn btn-default btn-danger">Add Employee</a>
    </p>
}

@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" zSS>
        <div style="width:230px;height:230px;border-radius:100%;margin-bottom:70px;margin-top:30px;" class="col-lg-4">
            <a href="~/Employees/Details/@item.ssn"><img src="~/Uploads/@item.PhotoPath" style="width:230px;height:230px;border-radius:100%;margin-bottom:70px;margin-top:30px;" /></a>
        </div>
    </div>


}
